:root
{
    --header-height: 75px;

    /* COLOURS */
    --systemetric_red: #420011;
    --button_colour: #ffcccc;

}
/* lets you have easily variable dimensions
best to put all dimensions in here and then
stuff calculated from variables */

.top_bar {
    background-color: var(--systemetric_red);
    color: white;
    padding: 15px 32px;
    text-align: left;
    font-size: 16px;
    margin: 4px 2px;
}

body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    box-sizing: border-box;
    /* gets rid of the space 
    around edges of page */

}


header
{
    background: var(--header_background);
    position: absolute;
    width: 100%;
    height: 50px;
}

h1 
{
    text-align: left;
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: 1;
    margin-left: 1;
    line-height: var(--header-height);
    color: white;

}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

main
{
    background: var(--main_background);
    position: absolute;
    top: var(--header-height) ;
    left: var(--sidebar-width) ;
    width: calc(100% - var(--sidebar-width) - var(--sidebar-width));
    height: calc(100% - var(--header-height));


}
